{% extends 'layout.html' %}
{% block title %}
    Home Page
{% endblock %}

{% block content %}
<style>
  .jumbotron {
      background-image: url('https://tse2.mm.bing.net/th?id=OIP.wFzmfmFbQ4AH4z98WV6bdQHaEK&pid=Api&P=0&h=180');
      background-size: cover; /* Cover the entire container */
      background-position: center; /* Center the background image */
      text-align: center; /* Center text horizontally */
      padding: 250px; /* Add padding for better readability */
  }
</style>

<div class="jumbotron">
    <img src="https://tse3.mm.bing.net/th?id=OIP.oixKgAHwqlOSIU5BgMSP6gAAAA&pid=Api&P=0&h=180" alt="Description of your image">
  </div>

{% endblock %}

